<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Pizzaria Campy</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/cardapio">Cardápio</a>
            <a href="/pagamento">Pagamento</a>
        </nav>
    </header>

    <main>
        {{{body}}}  <!-- Aqui o conteúdo da página específica vai aparecer -->
    </main>

    <footer>
        <p>© 2025 Pizzaria Campy</p>
    </footer>
</body>
</html>
